*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-port) {
    // < 900?
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
  background-color: rgb(146, 141, 135);
}
