@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
}

@mixin centeralign() {
  display: flex;
  justify-content: center;
  align-items: center;
}
